.sub-header {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sub-header > div {
    width: auto;
    white-space: nowrap;
}

.sub-header .menu-bar {
    display: flex;
    justify-content: left;
    margin-left: 10px;
}

.sub-header .menu-bar>.menu-item {
    width: auto;
    flex: 0;
}

.sub-header > .menu-bar > .menu-item:not(:first-child) {
    background-color: #9ED0FF;
    border: 2px solid #70B4F4;
    color: #539AF6;
    box-shadow: 0px 1px 3px 1px #D9D9D9;
    padding-left: 20px;
    padding-right: 20px;
}

.sub-header > .menu-bar > .menu-item > span {
    margin-right: 10px;
}

.sub-header > .menu-bar > .menu-item > .close {
    width: 12px;
    height: 12px;
}


.sub-header > .menu-bar > .menu-item > .close::before, .sub-header > .menu-bar > .menu-item > .close::after {
    height: 20%;
    filter: invert(30%);
}

.sub-header .menu-bar>.menu-item .list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 600px;
    max-width: calc(100vw - 60px);
    z-index: 5;
    border-radius: 18px;
    padding: 10px;
    line-height: normal;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    color: #737373;
    box-shadow: 0px 0px 10px 2px #D9D9D9;
}

.sub-header .menu-bar>.menu-item .list > :first-child {
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #D9D9D9;
}

.sub-header .menu-bar>.menu-item .list > div:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
}

.sub-header .menu-bar>.menu-item .list > div:nth-of-type(1) > div {
    box-shadow: 0px 0px 3px 2px #D9D9D9;
    border-radius: 30px;
    padding: 5px;
    margin: 8px;
    cursor: pointer;
}

.sub-header .menu-bar>.menu-item .list > div:nth-of-type(2) {
    display: flex;
    justify-content: right;
}

.sub-header .menu-bar>.menu-item .list > div:nth-of-type(2) > div {
    border: 1px solid #737373;
    padding: 5px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.sub-header .menu-bar>.menu-item .list > div:nth-of-type(2) > :first-child {
    margin-right: 5px;
}

.sub-header .menu-bar>.menu-item .list > div:nth-of-type(2) > :first-child:hover {
    color: #fff;
    background-color: #E94E38;
}

.sub-header .menu-bar>.menu-item .list > div:nth-of-type(2) > :last-child:hover {
    background-color: #70B4F4;
    color: #fff;
}

.sub-header > div:nth-of-type(2) {
    margin-bottom: 10px;
}

.sub-header .count {
    height: min-content;
    white-space: nowrap;
    background-color: #E4E4E4;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 20px;
}

.sub-header .criteria::before {
    content: '';
    display: block;
    width: 2px;
    height: 50%;
    background-color: #D9D9D9;
    margin-top: 2.5px;
    margin-left: 15px;
    margin-right: 15px;
}

.sub-header .criteria {
    color: #737373;
    position: relative;
}

.sub-header .criteria select {
    box-shadow: 0px 0px 3px 2px #D9D9D9;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 15px;
    background-color: #fff;
}


.sub-header .criteria .select-wrap::after {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%) rotate(-90deg);
    content: '';
    display: block;
    background-image: url(./imgs/back.png);
    background-color: #fff;
    background-size: 35px 35px;
    background-position: center;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.sub-header .criteria .select-wrap:has(> select:open)::after {
    transform: translateY(-50%) rotate(90deg);
}

#container {
    display: flex;
    flex-direction: column;
}

.tour {
    display: flex;
    max-width: 600px;
    height: 200px;
    padding: 12px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 2px #D9D9D9;
}

.tour-img {
    width: 200px;
    height: 200px;
    display: flex;
    background-color: #737373;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.tour-img > img {
    max-width: 100%;
    max-height: 100%;
}

.tour > div:nth-of-type(2) {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tour > div:nth-of-type(2) > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    body {
        font-size: 14px;
    }
    .sub-header .menu-bar>.menu-item {
        font-size: 16px;
        padding: 10px;
        margin: 10px;
    }
}