body {
    margin: 5vw;
}

header {
    margin-top: 7vh;
    position: relative;
}

.logo {
    position: absolute;
    width: 8vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back {
    width: 7vh;
    height: 7vh;
    background-image: url('/imgs/back.png');
    background-size: 7vh 7vh;
    border: 2px solid darkgray;
    border-radius: 32%;
}

.container>form {
    display: flex;
    flex-direction: column;
}

.container input {
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 7px;
    margin-bottom: 10px;
}

.register-btn {
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.line {
    width: 25vw;
    height: 1px;
    background-color: darkgray;
}

.social {
    display: flex;
    margin-top: 15px;
}

.social>div {
    height: 40px;
    border: 1.5px solid darkgray;
    margin-right: 15px;
    flex: 1;
    border-radius: 10px;
}

.social>div:last-child {
    margin-right: 0;
}

.social>div {
    display: flex;
    align-items: center;
    justify-content: center;
}