body {
  margin: 0;
  background-color: #FFF0E3;
}

.fade-in {
  opacity: 0;
  transform: translateX(-35px);
  transition: opacity 1s ease-in, transform 1.3s ease-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

h1 p {
  margin: 0;
}

.photos {
  display: flex;
  justify-content: center;
  filter: blur(2px);
  width: 100%;
}

.photos>div {
  width: 45vw;
  /* padding-bottom: 10%; */
  height: 45vw;

  max-width: 24vh;
  max-height: 32vh;
  background-color: #fff;
  box-shadow: 0px 0px 10px #444;
  border-radius: 23px;
}


.photos>div>div {
  margin: 10%;
  margin-top: 18%;
  width: 80%;
  padding-bottom: 80%;
  background-size: 100% 100%;
}

.photos>div:nth-of-type(1) {
  z-index: -1;
  transform: rotate(-10deg) translate(60%, 10%);
}

.photos>div:nth-of-type(3) {
  z-index: 1;
  transform: rotate(10deg) translate(-60%, 10%);
}

.wrapper {
  position: relative;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 0px 5px #fff;
}

.text:hover {
  box-shadow: 0px 0px 5px #000;
  cursor: pointer;
}

.pig {
  width: 60vw;
  height: 60vw;
  max-width: 30vh;
  max-height: 30vh;
  background-image: url(/imgs/pig.png);
  background-size: 100% 100%;
  z-index: -1;
  margin: 0 auto;
  flex: 2;
  padding: 5vh;
}